* {
  margin: 0;
  padding: 0;
}

@mixin flex($parameter1, $parameter2) {
  display: flex;
  justify-content: $parameter1;
  align-items: $parameter2;
}

a {
  text-decoration: none;
}

.router-link-exact-active {
  .el-card {
    background-color: var(--el-color-success);
  }
}
